.header-area .logo-area a span {
	color: #3c40c6;
}
.header-area .menu-area ul li a:hover, .mean-container .mean-nav ul li a:hover {
	color: #3c40c6;
}
.slider-area .slider-2 h1 {
	color: #3c40c6;
}
.about-me .nav-tabs li::before {
	background: #3c40c6;
}
.btn {
	background: #3c40c6;
	border: 1px solid #3c40c6;
}
.single-member::before, .single-member::after {
	background: #3c40c6;
}
.team-area .single-member .team-content h6 {
	color: #3c40c6;
}
.filter-btn li a:hover, .filter-btn li a:focus {
	background-color: #3c40c6;
}
.team-area .item::before, .item::after,
.protfolio-info::before, .protfolio-info::after {
	background: #3c40c6;
}
.protfollio-area .work-list .single-work .protfolio-info .protfollio-icon a {
	border: 1px solid #3c40c6;
	color: #3c40c6;
}
.protfollio-area .work-list .single-work .protfolio-info .protfollio-icon a:hover {
	background: #3c40c6;
}
.protfollio-area .work-list .single-work .protfolio-info .protfollio-content h5 {
	color: #3c40c6;
}
.clints-testomonial .single-testomonial .textomonial-header .testomonial-title h4 a:hover {
	color: #3c40c6;
}
.clints-testomonial .single-testomonial .textomonial-header .testomonial-title h5 {
	color: #3c40c6;
}
#slider-testominial .owl-dots .owl-dot.active span {
	background-color: #3c40c6;
}
.news-area .single-news .newn-info .news-title h4:hover a {
	color: #3c40c6;
}
.news-area .single-news:hover .newn-info .meta-info a {
	color: #3c40c6;
}
.news-area .single-news .newn-info .readmore-btn .btn {
	color: #3c40c6;
	border: 1px solid #3c40c6;
}
.news-area .single-news .newn-info .readmore-btn .btn:hover {
	border: 1px solid #3c40c6;
	background-color: #3c40c6;
}
.cont-info-img i {
	color: #3c40c6;
}
.foter-area .copy-right h5 a {
	color: #3c40c6;
}
.skill {
	background: #3c40c6;
}
.download-cv:hover {
	background-color: #3c40c6;
}
.single-member .team-content .overlay .member-media ul li a:hover {
	border-color: #3c40c6;
	color: #3c40c6;
}
.social-icons a:hover {
	color: #3c40c6;
}
.blog-single-post .social-icons a:hover {
	background-color: #3c40c6;
}
.filter-btn li {
	border: 1px solid #3c40c6;
}
.filter-btn li a i {
	color: #3c40c6;
}
.news-area .single-news .newn-info .meta-info ul li a i {
	color: #3c40c6;
}
.colorSwitcher i {
	background: #3c40c6;
}
#scrollUp {
	background-color: #3c40c6;
}
#scrollUp:hover,
.btn:hover {
	background-color: #0652DD;
	border-color: #0652DD;
}
.foter-area .foter-social ul li a:hover {
	background: #0652DD;
	border-color: #0652DD;
}
.single-testimonial span {
	color: #3c40c6;
}
.testimonial-caro .owl-dots .owl-dot.active span, .testimonial-caro .owl-dots .owl-dot:hover span {
	background: #3c40c6;
}
.skill-area .ab-count .about-counter-list .informations i {
	color: #3c40c6;
}
.breadcrumb span {
	color: #3c40c6;
}
.post-title a:hover {
	color: #3c40c6;
}
.widget-title::after {
	background: #3c40c6;
}
.search-box button {
	background: #3c40c6;
}
.share-post a {
	border-color: #3c40c6;
	color: #3c40c6;
}
.share-post a:hover {
	background-color: #3c40c6;
}
.comment-title::after {
	background: #3c40c6;
}
.category li a:hover, .category li a:focus {
	color: #3c40c6;
}
.replay {
	color: #3c40c6;
}
.tags a {
	border-color: #3c40c6;
}
.tags a:hover, .tags a:focus {
	background: #3c40c6;
}
.preview-2 .nivo-controlNav a.active {
    background-color: #3c40c6;
}
.preview-2 .nivo-controlNav a:after {
    background-color: #3c40c6;
}
.skill-area .ab-count .about-counter-list .informations {
	border-color: #3c40c6;
}
.post-meta {
	background-color: #3c40c6;
}
.service-icon {
	border-color: #3c40c6;
}
.about-counter:after {
	background: #3c40c6;
}